@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  box-sizing: border-box;
  overflow: hidden;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.BodyContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.ContentConatianer {
  padding-top: 10px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  width: 300px;
  padding-bottom: 20px;
}
img {
  border-radius: 10px;
  width: 90%;
  height: auto;
  object-fit: cover;
}
.textContainer {
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  text-align: center;
}
.para {
  color: hsl(218, 44%, 22%);
  font-size: 15px;
  font-weight: 700;
}
.para2 {
  font-size: 12px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
@media screen and (max-width: 475px) {
  .ContentConatianer {
    width: 90%;
  }
  .textContainer {
    margin-left: -12px;
    margin-right: -12px;
    width: 100%;
    text-align: center;
  }
}
